.page-container {
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.plane {
  width: 100vw;
  height: 100vh;
}

.title {
  position: absolute;
  top: 30px;
  left: 40px;
  font-size: 16px;
  color: #fff;
  letter-spacing: 4px;
  padding: 0;
  margin: 0;
  line-height: normal;

  p {
    margin: 0;
    padding: 0;
  }
}

.link {
  position: absolute;
  bottom: 30px;
  right: 40px;
  font-size: 16px;
  letter-spacing: 2px;

  a {
    color: #6c757dff;
    text-decoration: underline;
    text-underline-offset: 4px;

    &:hover {
      color: #fff;
    }
  }
}